.container {
    padding: 8px;
    margin-top: 2px;
    box-shadow: 3px 3px 11px 3px rgb(0 0 0 / 32%);
    max-width: 100%;
}

.list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.item {
    margin: 0px 16px;
}